@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: oklch(0.9852 0.0069 124.4453);
  --foreground: oklch(0.4392 0.0474 111.3241);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4392 0.0474 111.3241);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4392 0.0474 111.3241);
  --primary: oklch(0.7523 0.1116 124.6173);
  --primary-foreground: oklch(0.9852 0.0069 124.4453);
  --secondary: oklch(0.9455 0.0422 121.7619);
  --secondary-foreground: oklch(0.4392 0.0474 111.3241);
  --muted: oklch(0.9167 0.0220 120.9847);
  --muted-foreground: oklch(0.6100 0.0546 112.9092);
  --accent: oklch(0.9128 0.1080 172.7515);
  --accent-foreground: oklch(0.4087 0.0564 172.9389);
  --destructive: oklch(0.9093 0.1471 194.8773);
  --destructive-foreground: oklch(0.9852 0.0069 124.4453);
  --border: oklch(0.8875 0.0359 121.0542);
  --input: oklch(0.9563 0.0205 121.8392);
  --ring: oklch(0.7523 0.1116 124.6173);
  --chart-1: oklch(0.7523 0.1116 124.6173);
  --chart-2: oklch(0.9128 0.1080 172.7515);
  --chart-3: oklch(0.6354 0.1384 359.5195);
  --chart-4: oklch(0.7584 0.1245 258.0281);
  --chart-5: oklch(0.8690 0.0961 76.6949);
  --sidebar: oklch(0.9711 0.0136 120.2732);
  --sidebar-foreground: oklch(0.4392 0.0474 111.3241);
  --sidebar-primary: oklch(0.7523 0.1116 124.6173);
  --sidebar-primary-foreground: oklch(0.9852 0.0069 124.4453);
  --sidebar-accent: oklch(0.9128 0.1080 172.7515);
  --sidebar-accent-foreground: oklch(0.4087 0.0564 172.9389);
  --sidebar-border: oklch(0.9068 0.0306 123.3213);
  --sidebar-ring: oklch(0.7523 0.1116 124.6173);
  --font-sans: Geist, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.7rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2602 0.0300 116.6867);
  --foreground: oklch(0.9585 0.0397 114.8341);
  --card: oklch(0.3167 0.0430 117.8332);
  --card-foreground: oklch(0.9585 0.0397 114.8341);
  --popover: oklch(0.3167 0.0430 117.8332);
  --popover-foreground: oklch(0.9585 0.0397 114.8341);
  --primary: oklch(0.8424 0.1148 125.7576);
  --primary-foreground: oklch(0.2602 0.0300 116.6867);
  --secondary: oklch(0.5548 0.0690 119.4396);
  --secondary-foreground: oklch(0.9585 0.0397 114.8341);
  --muted: oklch(0.3195 0.0447 119.2583);
  --muted-foreground: oklch(0.7504 0.0445 122.0101);
  --accent: oklch(0.3663 0.0477 130.7219);
  --accent-foreground: oklch(0.9407 0.0862 177.6936);
  --destructive: oklch(0.9159 0.1347 195.0578);
  --destructive-foreground: oklch(0.2602 0.0300 116.6867);
  --border: oklch(0.3798 0.0507 117.5630);
  --input: oklch(0.3583 0.0493 116.4578);
  --ring: oklch(0.8424 0.1148 125.7576);
  --chart-1: oklch(0.8424 0.1148 125.7576);
  --chart-2: oklch(0.9407 0.0862 177.6936);
  --chart-3: oklch(0.6354 0.1384 359.5195);
  --chart-4: oklch(0.7584 0.1245 258.0281);
  --chart-5: oklch(0.8690 0.0961 76.6949);
  --sidebar: oklch(0.2425 0.0306 119.5371);
  --sidebar-foreground: oklch(0.9585 0.0397 114.8341);
  --sidebar-primary: oklch(0.8424 0.1148 125.7576);
  --sidebar-primary-foreground: oklch(0.2602 0.0300 116.6867);
  --sidebar-accent: oklch(0.3663 0.0477 130.7219);
  --sidebar-accent-foreground: oklch(0.9407 0.0862 177.6936);
  --sidebar-border: oklch(0.3583 0.0493 116.4578);
  --sidebar-ring: oklch(0.8424 0.1148 125.7576);
  --font-sans: Geist, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.7rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}



html {
  scroll-behavior: smooth;
}